#meu_nome{
    color:#7FFFD4;

}

body {
    
    height: 100vh;
    background-color: #6A5ACD;
    font-family: Arial, sans-serif;
    justify-items: center;
    align-items: center;
}

#calculadora {
    background-color: white;
    padding: 18px; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 250px; 
    justify-items: center;
}
    

#resultado {
    width: 100%;
    height: 50px; 
    text-align: right;
    margin-bottom: 10px;
    font-size: 34px; 
}


.botoes{
    padding: 18px; 
    font-size: 30px; 
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
    width: 88%;
}

button:hover {
    background-color: Aqua;
}
